.profile {
  width: calc(100% - 70px*2);
  margin: 0 auto;
  padding-top: 11px;
}

.profile__form {
  width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form__text-error_profile {
  text-align: right;
}

.profile__title {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  padding-right: 4px;
  padding-bottom: 125px;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(66, 66, 66);
  padding-bottom: 13px;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.profile__container_border-none {
  border-bottom: none;
  padding-bottom: 4px;
}

.profile__text {
  font-style: normal;
  font-weight: 500;

}

.profile__input {
  border: none;
  background-color: #202020;
  text-align: right;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
}

.profile__input::placeholder {
  color: white;
}

.profile__button {
  display: block;
  margin: 195px auto 17px auto;
  border: none;
  background-color: #202020;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.profile__button_disabled {
  opacity: 0.8;
  cursor: revert;
}

.profile__button:hover {
  opacity: 0.8;
}

.profile__button-exit {
  background-color: #202020;;
  border: none;
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  text-align: center;
  margin: 0 auto;
}

.profile__button-exit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px){
  .profile {
    padding-top: 205px;
  }
  .profile__title {
    padding-bottom: 97px;
  }
  .profile__button {
    margin-top: 185px;
  }
}

@media screen and (max-width: 555px){
  .profile {
    width: calc(100% - 30px*2);
    padding-top: 55px;
  }
  .profile__title {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 80px;
  }
  .profile__button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 352px;
  }
  .profile__form {
    width: 265px;
  }
  .profile__button-exit {
    font-size: 12px;
    line-height: 15px;
  }
}
