.navigate {
  display: flex;
  padding-left: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 20px;
}

.navigate__link {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.navigate__link:hover {
  opacity: 0.8;
}

.navigate__link_active {
  border-bottom: 1px solid #3DDC84;
}

.links__movies:last-of-type {
  padding-right: 0px;
}


@media screen and (max-width: 768px) {
  .navigate {
    display: none;
  }
  /*.navigate__link {*/
  /*  margin-right: 10px;*/
  /*}*/
}

@media screen and (max-width: 370px){
  .navigate {
    display: none;
  }
}
