.header {
  margin: 18px auto 38px;
  width: calc(100% - 70px*2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

.header__image {
  width: 38px;
  height: 38px;
}

.navigation {
  padding-top: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.navigation__register {
  padding-right: 30px;
  text-decoration: none;
  color: white;
}

.navigation__login {
  background-color: #3DDC84;
  border-radius: 3px;
  padding: 9px 20px;
  text-decoration: none;
  color: black;
}

.account {
  display: flex;
}

.account:hover {
  opacity: 0.8;
}

.account__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-top: 5px;
  padding-right: 15px;
}

.account__container {
  width: 30px;
  height: 30px;
  background: #313131;
  border-radius: 6px;
  text-align: center;
}

.account__container__image {
  padding-top: 8px;
}

.burger {
  display: none;
}

.burger__image {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px){
  .header  {
    width: calc(100% - 30px*2);
  }
  .navigation {
    padding-top: 0px;
  }
  .account {
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .links {
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px){
  .header  {
    width: calc(100% - 14px*2);
  }
  .navigation__register {
    font-size: 10px;
    padding-right: 14px;
  }
  .navigation__login {
    padding: 5px 12px;
    font-size: 10px;
    line-height: 16px;
  }
  .header {
    margin-bottom: 29px;
  }
  .links {
    display: none;
  }
}

